/* General Format for entire HTML document */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.container {
  padding-top: 1vh;
  padding-left: 8vw;
  padding-right: 3vw;
}

/* !------------- MENUBAR STYLING -------------! */
#header {
  width: 100%;
  height: 40vh;
  background-image: url(../images/contact-bg.jpg);
  background-size: cover;
  background-position: center;
}

.header-text {
  margin-top: 10vh;
  font-size: 2vw;
  color: rgb(85, 83, 83);
}

.header-text h1 {
  font-size: 5vw;
  margin-right: 5vw;
  text-align: right;
}

.logo {
  transition: all 0.5s ease;
}

.logo img {
  width: 70px;
  height: auto;
  cursor: pointer;
}

.logo:hover {
  background: #dddddd;
  cursor: default;
}

nav {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100vh;
  left: 0;
  background: #dddddd;
  width: 90px;
  overflow: hidden;
  transition: width 0.2s linear;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

nav:hover {
  width: 280px;
  transition: all 0.5s ease;
}

nav a {
  position: relative;
  color: rgb(85, 83, 83);
  font-size: 17px;
  display: table;
  width: 300px;
  padding: 10px;
}

nav a:hover {
  background: #b8b8b8;
}

.fas {
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 20px;
  text-align: center;
}

.nav-item {
  position: relative;
  top: 12px;
  margin-left: 10px;
}

#divider {
  background-color: #979494;
  width: 100%;
  height: 10px;
}

#filler {
  background: linear-gradient(to right, #ececec 0, #d8d8d8 50%, #dbdce0 100%);
  height: 10vh;
  width: 100%;
}

/* !Contact */
#contact {
  background: linear-gradient(to right, #ececec 0, #d8d8d8 50%, #dbdce0 100%);
  height: 100%;
}

.contact-left {
  flex-basis: 35%;
}

.contact-right {
  flex-basis: 60%;
}

.contact-left p {
  margin-top: 30px;
}

.contact-left p i {
  color: rgb(85, 83, 83);
  margin-right: 15px;
  font-size: 25px;
  transition: transform 0.5s;
}

.social-icons {
  margin-top: 30px;
  /* max-width: 20px; */
  display: grid;
  grid-template-columns: repeat(4, minmax(50px, 0.1fr));
  grid-gap: 10px;
}

.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: rgb(85, 83, 83);
  display: inline-block;
  transition: transform 0.5s;
  max-width: 50px;
}

.social-icons a:hover {
  color: #070707;
  transform: translateY(-5px);
}

.btn.btn2 {
  display: inline-block;
  background: rgb(85, 83, 83);
  color: rgba(256, 256, 256, 2);
  transition: background 0.2s;
}

.btn.btn2:hover {
  background: rgb(156, 155, 155);
  color: #222121;
}

.contact-right form {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: rgb(85, 83, 83);
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}

form input::placeholder,
form textarea::placeholder {
  color: #bebebe;
}

form .btn2 {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

.copyright {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: linear-gradient(to right, #ececec 0, #ececec 50%, #dbdce0 100%);
  color: rgb(85, 83, 83);
  font-weight: 300;
  margin-top: 20px;
}

.copyright span {
  color: rgb(85, 83, 83);
}

#msg {
  color: #9af0f5;
  margin-top: -40px;
  display: block;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2vh;
  /* height: 50vh; */
}

.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: rgb(85, 83, 83);
}

.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  padding: 16px 50px;
  border-radius: 6px;
  text-decoration: none;
  background-color: #000;
  color: #fff;
  font-size: 15px;
  transition: background 0.5s;
}

.btn:hover {
  background: rgba(154, 240, 245, 0.2);
  cursor: pointer;
}

/* !------------- CSS FOR PHONE -------------! */
#menuOpenIcon {
  display: none;
}

#menuCloseIcon {
  display: none;
}

@media only screen and (max-width: 600px) {
  nav {
    width: 100%;
    height: 45%;
    text-align: left;
    overflow: hidden;
    transition: 0.5s;
  }

  .logo {
    text-align: left;
    width: 100%;
  }

  ul li a {
    width: 100%;
  }

  .fas {
    padding-left: 110px;
  }

  .nav-item {
    padding-left: 30px;
  }

  .out {
    display: block;
    top: 0;
    left: 0;
    width: 20%;
  }

  #header {
    height: 30vh;
    background-size: auto;
  }

  .header-text h1 {
    /* margin-left: 42vw; */
    font-size: 12vw;
    /* width: 180px; */
    text-align: center;
    color: rgb(249, 246, 246);
  }

  .copyright {
    font-size: 12px;
  }

  .sub-title {
    font-size: 40px;
    text-align: center;
  }

  .fa-paper-plane,
  .fa-phone,
  .contact-left .social-icons {
    margin-left: 8vh;
  }

  .contact-left,
  .contact-right {
    flex-basis: 100%;
  }

  .contact-left .btn.btn2 {
    margin-left: 6vh;
  }

  .contact-right .btn.btn2 {
    margin-left: 10vh;
  }

  #menuOpenIcon {
    display: block;
    position: absolute;
    color: rgb(212, 212, 212);
    padding: 10px 15px 10px 10px;
    right: 10px;
    top: 21px;
    font-size: 1.5rem;
    overflow: hidden;
    transition: 0.5s;
  }

  #menuCloseIcon {
    position: fixed;
    color: rgb(85, 83, 83);
    padding: 10px;
    right: 10px;
    top: 21px;
    font-size: 2rem;
  }
}
