/* General Format for entire HTML document */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.container {
  padding-top: 1vh;
  padding-left: 8vw;
  padding-right: 3vw;
}

/* !------------- MENUBAR STYLING -------------! */
#header {
  width: 100%;
  height: 100vh;
  background-image: url(../images/home-bg3.jpg);
  background-size: cover;
  background-position: center;
}

.header-text {
  margin-top: 10vh;
  font-size: 2vw;
  color: rgb(85, 83, 83);
}

.header-text h1 {
  font-size: 5vw;
  text-align: center;
}

.header-text p {
  margin-top: 1vh;
  margin-right: 1vw;
  text-align: center;
}

.logo {
  transition: all 0.5s ease;
}

.logo img {
  width: 70px;
  height: auto;
  cursor: pointer;
}

.logo:hover {
  background: #f6f5d9;
  cursor: default;
}

nav {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100vh;
  left: 0;
  background: #f6f5d9;
  width: 90px;
  overflow: hidden;
  transition: width 0.2s linear;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

nav:hover {
  width: 280px;
  transition: all 0.5s ease;
}

a {
  position: relative;
  color: rgb(85, 83, 83);
  font-size: 17px;
  display: table;
  width: 300px;
  padding: 10px;
}

a:hover {
  background: #ced3b3;
}

.fas {
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 20px;
  text-align: center;
}

.nav-item {
  position: relative;
  top: 12px;
  margin-left: 10px;
}

#divider {
  background-color: #aead97;
  width: 100%;
  height: 10px;
}

/* !------------- ABOUT -------------! */
#about {
  width: 100%;
  /* padding: 80px 0; */
  color: rgb(85, 83, 83);
  background: linear-gradient(to right, #ededc9 0, #f2f1d1 50%, #ededc9 100%);
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1,
.about-col-2 {
  margin-top: 2vh;
  margin-bottom: 3vh;
}

.about-col-1 {
  flex-basis: 30%;
}

.about-col-1 img {
  width: 100%;
  object-position: 20%;
  border-radius: 15px;
}

.about-col-2 {
  flex-basis: 65%;
  font-size: 1.1vw;
  text-align: justify;
}

.about-col-2 p {
  margin-top: 30px;
  text-align: justify;
  font-size: 1.3vw;
  font-weight: 500;
}

#colour {
  color: #000000;
  font-weight: 600;
}

.sub-title {
  font-size: 4vw;
  font-weight: 600;
  color: rgb(85, 83, 83);
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 1.2vw;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  transition: transform 0.5s;
}

.tab-links:hover {
  transform: translateY(-5px);
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: rgb(85, 83, 83);
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 50%;
}
.tab-contents .desc li {
  list-style: circle;
  margin-left: 2vw;
  padding: 0px 0px;
}
.tab-contents ul li {
  list-style: none;
  font-size: 0.9vw;
  margin: 5px 0;
}

.tab-contents ul li span {
  color: #645953;
  font-weight: bold;
  font-size: 1vw;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

.copyright {
  width: 100%;
  text-align: center;
  padding: 3vh 0;
  background: #e9e9c6;
  font-weight: 300;
  color: #645953;
  height: 6.7vh;
  padding-left: 8vw;
  padding-right: 3vw;
}

.copyright span {
  color: #645953;
}

/* !------------- CSS FOR PHONE -------------! */
#menuOpenIcon {
  display: none;
}

#menuCloseIcon {
  display: none;
}

.out {
  display: none;
}

@media only screen and (max-width: 600px) {
  nav {
    width: 100%;
    height: 45%;
    text-align: left;
    overflow: hidden;
    transition: 0.5s;
  }

  .logo {
    text-align: left;
    width: 100%;
  }

  ul li a {
    width: 100%;
  }

  .fas {
    padding-left: 110px;
  }

  .nav-item {
    padding-left: 30px;
  }

  .out {
    display: block;
    top: 0;
    left: 0;
    width: 20%;
  }

  .header-text {
    margin: 0;
  }

  .header-text h1 {
    font-size: 12vw;
    text-align: center;
  }

  .header-text p {
    margin-top: 1vh;
    margin-right: 1vw;
    text-align: center;
    font-size: 5vw;
  }

  #menuOpenIcon {
    display: block;
    position: absolute;
    color: rgb(85, 83, 83);
    padding: 10px 15px 10px 10px;
    right: 10px;
    top: 21px;
    font-size: 1.5rem;
    overflow: hidden;
    transition: 0.5s;
  }

  #menuCloseIcon {
    position: fixed;
    color: rgb(85, 83, 83);
    padding: 10px;
    right: 10px;
    top: 21px;
    font-size: 2rem;
  }

  .row {
    flex-direction: column;
  }

  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
    padding-right: 10px;
    margin-top: 1vh;
  }

  .about-col-1 img {
    max-width: 80%; /* Set a maximum width */
    display: block; /* Ensure block-level display for accurate margin calculations */
    margin: 0 auto; /* Center the image horizontally */
    border-radius: 15px;
  }

  .about-col-2 .sub-title {
    font-size: 4.5vh;
    text-align: center;
  }

  .about-col-2 .intro {
    font-size: 3.5vw;
    text-align: justify;
    margin-top: 2vh;
  }
  .about-col-2 .tab-titles {
    margin-top: 0;
    margin-bottom: 2vh;
  }

  .about-col-2 .tab-titles p {
    font-size: 4.5vw;
  }

  .tab-links,
  .tab-contents ul li,
  .tab-contents ul li span {
    font-size: 3vw;
    margin-bottom: 1vh;
  }

  .tab-contents .desc li {
    font-size: 3vw;
    margin-left: 9vw;
  }

  .copyright {
    font-size: 12px;        
  }
}
